@charset "UTF-8";

@media screen and (min-width: 1000px) {
    header {
        padding: 0px;
    }

    nav#nav-bar {
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 6rem;
    }

    img {
        min-width: 262px;
    }

    span#burguer {
        display: none;
    }

    menu {
        display: block;
        text-align: center;
        text-align: right;
        padding: 25px;
    }

    menu > ul > li {
        display: inline-block;
    }

    .img-mobile {
        display: none;
    }

    .img-desktop {
        display: block;
    }



    section.slider {
        margin: 0 auto;
        width: 100%;
        height: auto;
        padding: 0 !important;
        overflow: hidden;
    }

    .slider-content {
        width: 400%;
        height: 350px;
        display: flex;
    }

    .slider-content input, .img-mobile {
        display: none;
    }
    
    .slide-box {
        width: 25%;
        height: auto;
        position: relative;
        text-align: center;
        transition: 1s;
    }

    .slide-box img {
        width: 100%;
    }
    
    .nav-manual, .nav-auto {
        position: absolute;
        width: 100%;
        margin-top: 33%;
        display: flex;
        justify-content: center;
    }
   



    




}


    /*QUEM SOMOS*/
    section#banner-quem-somos {
        padding-top: 0px;
        padding-bottom: 0px;
        height: 300px;
        width: 100vw;
    
        background: url(../assets/imagens/quemsomosg.jpg);
        background-position: left center;
        background-size: cover;
        
        
    }  