@charset "UTF-8";

@media screen and (min-width: 1000px) {

    body, html {
        height: 100%;
    }

    header {
        padding: 0px;
    }

    nav#nav-bar {
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 6rem;
    }

    img {
        min-width: 262px;
    }

    span#burguer {
        display: none;
    }


    menu {
        display: block;
        text-align: center;
        text-align: right;
        padding: 25px;
    }

    menu > ul > li {
        display: inline-block;

    }


                                        /*  SLIDES MENU PRINCIPAL   */
main > .slider {
    margin: 0;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 100%;
    display: flex;
}
.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
}

.slide img {
    width: 800px;
}

.manual-navigation {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: white;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

}