@charset "UTF-8";

@media screen and (min-width: 1000px) {
    header {
        padding: 0px;
    }

    nav#nav-bar {
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 6rem;
    }

    img {
        min-width: 262px;
    }

    span#burguer {
        display: none;
    }

    menu {
        display: block;
        text-align: center;
        text-align: right;
        padding: 25px;
    }

    menu > ul > li {
        display: inline-block;
    }

    .img-mobile {
        display: none;
    }

    .img-desktop {
        display: block;
    }

   



    




}


    /*QUEM SOMOS*/
    section#banner-quem-somos {
        padding-top: 0px;
        padding-bottom: 0px;
        height: 300px;
        width: 100vw;
    
        background: url(../assets/imagens/quemsomosg.jpg);
        background-position: left center;
        background-size: cover;
        
        
    }  