@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&display=swap');

:root {
    --cor1: #d8c690;
    --cor2: #CBB26A;
    --cor3: #be9e44;
    --cor4: #cc2952;
    --cor5: #84111d;
    --cor6: #460101;
    --cor7: #1f1919;
}

* {
    font-family: 'Barlow Semi Condensed', sans-serif;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: white;
}

header {
    background-color: var(--cor5);
    color: white;;
    padding: 10px;
    box-shadow: 0px 3px 10px #464646;
}

header img {
    max-width: 37%;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

span#burguer {
    background-color: var(--cor5);
    color: white;
    display: block;
    font-size: 2.5em;
    text-align: right;
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
}

span#burguer:hover {
    color: var(--cor4);
}

menu {
    display: none;
}

menu {
    list-style-type: none;
}

menu > ul > li {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: var(--cor5);
    color: white;
    font-size: 1.1em;
    font-weight: bolder;
    border-radius: 5px;
}

menu > ul > li > a:hover {
    color: var(--cor4);
}




    /* QUEM SOMOS */
section#banner-quem-somos {
    display: block;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 300px;
    

    background: url(../assets/imagens/quemsomos.jpg);
    background-position: left center;
    background-size: cover;
}   


div#quem-somos1 {
    margin: auto;
}
    
    
div#quem-somos1 > h1 {
    display: block;
    margin-top: 0px;
    background-color: var(--cor1);
    color: var(--cor4);
    text-align: center;
    padding: 25px;
}

div#quem-somos1 > p {
    max-width: 650px;
    font-size: 1.3em;
    line-height: 1.3;
    text-indent: 30px;
    color: var(--cor7);
    text-align: justify;
    padding: 28px;
    margin: auto;  
}

section#pratoqs {
    display: block;
    background-color: var(--cor5);
}

section#pratoqs img#p1 {
    display: block;
    margin: auto;
    max-width: 86vw;
    padding-top: 30px;
    padding-bottom: 30px;
   
}

section#pratoqs img#p2 {
    display: block;
    margin: auto;
    max-width: 86vw;
    padding-bottom: 30px;
}

section#pratoqs img#p3 {
    display: block;
    margin: auto;
    max-width: 86vw;
    padding-bottom: 30px;
}

div#quem-somos2 {
    margin: auto;
}

div#quem-somos2 > p {
    max-width: 650px;
    font-size: 1.3em;
    line-height: 1.3;
    text-indent: 30px;
    color: var(--cor7);
    text-align: justify;
    padding: 28px;
    margin: auto;  
}


























/* MAIN CONFIGURAÇÃO INICIAL
main {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
*/









/*
        li#link-whats > a > img {
            margin-right: 15px;
            width: 30px;
            border-radius: 50%;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
            box-sizing: border-box;
        }
*/
