@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;700;800&display=swap');

:root {
    --cor1: #d8c690;
    --cor2: #CBB26A;
    --cor3: #be9e44;
    --cor4: #cc2952;
    --cor5: #84111d;
    --cor6: #460101;
    --cor7: #1f1919;
}

* {
    font-family: 'Barlow Semi Condensed', sans-serif;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: white;
}

header {
    background-color: var(--cor5);
    color: white;
    padding: 10px;

    top: 0;
    position: sticky;
    z-index: 3;
    
    
}

header img {
    max-width: 37%;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

span#burguer {
    background-color: var(--cor5);
    color: white;
    display: block;
    font-size: 2.5em;
    text-align: right;
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
}

span#burguer:hover {
    color: var(--cor4);
}

menu {
    display: none;
    list-style-type: none;
}

li {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: var(--cor5);
    color: white;
    font-size: 1.1em;
    font-weight: bolder;
    border-radius: 5px;
}

menu > ul > li > a:hover {
    color: var(--cor4);
}

section.slider {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

.slider-content {
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input, .img-desktop {
    display: none;
}

.slide-box {
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-box img {
    width: 100%;
}

.nav-manual, .nav-auto {
    position: absolute;
    width: 100%;
    margin-top: 75%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div {
    border: 1px solid var(--cor6);
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;

    transition: .6s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child) {
    margin-right: 50px;
}

.nav-manual .manual-btn:hover {
    background-color: var(--cor4);
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3 {
    background-color: var(--cor4);
}

#radio1:checked ~ .primeiro {
    margin-left: 0%;
}

#radio2:checked ~ .primeiro {
    margin-left: -25%;
}
#radio3:checked ~ .primeiro {
    margin-left: -50%;
}

div.buffet {
    margin-top: 17%;
    text-align: center;
    background-color: var(--cor6);
    color: white;
    font-size: 2.3em;
    font-weight: bold;
    padding: 15px;
}

.icon {
    position: fixed;
    bottom: 40px;
    right: 15px;
    font-size: 30px;
    background-color: #01e675;
    color: #ffffff;
    border-radius: 50%;
    padding: 3px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    z-index: 100;
    box-shadow: 2px 2px 2px #c0bdbd;
}

.icon .fab {
    padding-top: 9px;
}

.icon:hover {
    background-color: #fff;
    color: #029e3b;
    font-weight: 900;
    box-shadow: 2px 2px 20px #5fe690;
}

div#contato {
    display: block;
    margin: 80px 20px 30px 20px;
    text-align: center;
}

div#contato h2 {
    font-size: 1.1em;
    padding: 15px 0px 0px 0px;
    color: var(--cor4);
}

div#contato p {
    font-size: 1.2em;
    padding: 5px 0px 0px 0px;
}

div#redes {
    display: flex;
    justify-content: space-around;
    height: 100px;
    background-color: var(--cor5);
}

div#redes > ul > li {
    display: inline-block;
    margin-top: 30px;
    padding: 0px 20px;
}

footer {
    display: block;
    height: 150px;
    background-color: var(--cor6);
    color: rgba(255, 255, 255, 0.384);
}

footer > p {
    text-align: center;
    padding-top: 50px;
    font-size: 1.1em;  
}

footer a {
    text-decoration: none;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.384);
}

footer a:hover {
    color: var(--cor4);
}


    /* QUEM SOMOS */
section#banner-quem-somos {
    display: block;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 300px;
    

    background: url(../assets/imagens/quemsomos.jpg);
    background-position: left center;
    background-size: cover;
}   


div.container {
    margin: auto;
}
    
    
div#quem-somos1 > h1 {
    display: block;
    font-size: 1.7em;
    margin-top: 0px;
    background-color: var(--cor1);
    color: var(--cor4);
    text-align: center;
    padding: 25px;
}

div.container > p {
    max-width: 650px;
    font-size: 1.3em;
    line-height: 1.3;
    text-indent: 30px;
    color: var(--cor7);
    text-align: justify;
    padding: 28px 28px 28px 28px ;
    margin: auto;  
}

div.container img {
    display: none;
    padding: 0px;
    margin: auto;
}

section#pratoqs {
    display: block;
    background-color: var(--cor5);
    margin: 28px 0px;
}


section#pratoqs img#p1 {
    display: block;
    margin: auto;
    max-width: 65vw;
    padding-top: 30px;
    padding-bottom: 30px;
}

section#pratoqs img#p2 {
    display: block;
    margin: auto;
    max-width: 65vw;
    padding-bottom: 30px;
}

section#pratoqs img#p3 {
    display: block;
    margin: auto;
    max-width: 65vw;
    padding-bottom: 30px;
}

div#quem-somos2 {
    margin: auto;
    margin-bottom: 80px;
}

div#quem-somos2 > p {
    max-width: 650px;
    font-size: 1.3em;
    line-height: 1.3;
    text-indent: 30px;
    color: var(--cor7);
    text-align: justify;
    padding: 28px 28px 0px 28px;
    margin: auto;  
}

div#slogan {
    display: block;
    padding: 0px 0px 28px 0px;
    text-align: center;
    font-weight: bold;
    color: var(--cor4);
}

div#slogan p {
    font-size: 1.8em;
    font-style: italic;
}

div#contato-somos {
    display: block;
    margin: 80px 20px 30px 20px;
    text-align: center;
}

div#contato-somos h2 {
    font-size: 1.1em;
    padding: 15px 0px 0px 0px;
    color: var(--cor4);
}

div#contato-somos p {
    font-size: 1.2em;
    padding: 5px 0px 0px 0px;
}

div#redes-somos {
    display: flex;
    justify-content: space-around;
    height: 100px;
    background-color: var(--cor5);
}

div#redes-somos > ul > li {
    display:inline-block;
    margin-top: 30px;
    padding: 0px 20px;
}


    /* LOCALIZAÇÃO */
div#banner-local {
    display: block;
    height: 200px;
    background: url(../assets/imagens/banner/banner4.jpg);
    background-position: left center;
    background-size: cover;
    
}

div#localizacao {
    margin: auto;
}

div#localizacao h1 {
    display: block;
    font-size: 1.7em;
    margin-top: 0px;
    background-color: var(--cor1);
    color: var(--cor4);
    text-align: center;
    padding: 25px;
}

div#localizacao1 {
    margin: auto;
}

div#localizacao1 > p {
    display: block;
    max-width: 650px;
    font-size: 1.3em;
    line-height: 1.3;
    text-indent: 30px;
    color: var(--cor7);
    text-align: justify;
    margin: 28px 28px 0px 28px;
}

div#localizacao1 a {
    text-decoration: none;
    color: var(--cor3);
}

div#localizacao2 > p {
    display: block;
    max-width: 650px;
    font-size: 1.3em;
    line-height: 1.3;
    text-indent: 30px;
    color: var(--cor7);
    text-align: justify;
    margin: 10px 28px 30px 28px;  
}

div#trajeto h2 {
    background-color: var(--cor6);
    color: white;
    font-size: 1.1em;
    font-weight: 600;
    text-align: center;
    padding: 20px;
}

iframe {
    display: block;
    margin: auto;
    padding-bottom: 40px;
    height: 300px;
}

div#contato-local {
    display: block;
    margin: 80px 20px 30px 20px;
    text-align: center;
}

div#contato-local h2 {
    font-size: 1.1em;
    padding: 15px 0px 0px 0px;
    color: var(--cor4);
}

div#contato-local p {
    font-size: 1.2em;
    padding: 5px 0px 0px 0px;
}

div#redes-local {
    display: flex;
    justify-content: space-around;
    height: 100px;
    background-color: var(--cor5);
}

div#redes-local > ul > li {
    display:inline-block;
    margin-top: 30px;
    padding: 0px 20px;
}



/*
div#redes-local {
    height: 100px;
    background-color: var(--cor5);
    color: rgba(255, 255, 255, 0.384);
}

div#redes-local > ul > li {
    display: inline-block;
    text-align: center;
}


div#redes-local a {
    display: block;
    padding: 30px 30px;   
}
*/

























/* MAIN CONFIGURAÇÃO INICIAL
main {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
*/









/*
        li#link-whats > a > img {
            margin-right: 15px;
            width: 30px;
            border-radius: 50%;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
            box-sizing: border-box;
        }
*/
